{% extends 'base.html.twig' %}
{% block body %}


	{{ include ('partials/categorias.html.twig', {}) }}

	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					PRODUCTOS
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				{{ include ('partials/menuCategoria.html.twig', {} )}}

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>

			</div>
			<div class="row isotope-grid">
			{{ include ('partials/productos.html.twig', {} )}}
			</div>
		</div>
	</section>
{% endblock %}
